In [1]:
# Curso Python Fundamentos para Analise de Dados - DSA
# Pacotes - 19.09.2022 - 22h35

In [2]:
# Importando o pacote
import datetime

In [3]:
# Buscando data especifica
now = datetime.datetime.now()

In [4]:
print(now)

2022-09-19 22:36:44.279186

In [12]:
# Criando a propria data
t = datetime.time(23, 15, 6)

In [13]:
print(t)

23:15:06

In [14]:
# Retornando cada um dos valores a partir do objeto acima criado
print('Hora: ', t.hour)
print('Minuto: ', t.minute)
print('Segundo: ', t.second)

Hora:  23
Minuto:  15
Segundo:  6

In [15]:
# Gravando a data atual
hoje = datetime.date.today()

In [21]:
# Extraindo cada pedaco da data completa
print('hoje: ', hoje.ctime()) # data completa
print('Ano: ', hoje.year)
print('Mes: ', hoje.month)
print('Dia: ', hoje.day)

hoje:  Mon Sep 19 00:00:00 2022
Ano:  2022
Mes:  9
Dia:  19

In [22]:
# Operacoes com datas
d1 = datetime.date(1991, 8, 14)

In [24]:
# funcao replace - para substituir valores
d2 = d1.replace(year = 2022)

In [25]:
# Operacoes com datas
d2 - d1

datetime.timedelta(days=11323)