In [1]:
# Curso Python Fundamentos para Analise de Dados - DSA
# Funcoes Built_In - 19.09.2022 - 22h48

In [ ]:
# Funcao map - recebe dois parametros (funcao, sequencia)
# Aplica a funcao que recebeu a cada um dos itens de algum objeto que seja iteravel
# Retorna uma lista com os resultaos obtidos.

In [2]:
# Função 1 - Recebe uma temperatura como parâmetro e retorna a temperatura em Fahrenheit
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

# Função 2 - Recebe uma temperatura como parâmetro e retorna a temperatura em Celsius
def celsius(T):
    return (float(5)/9)*(T-32)

In [3]:
# Lista
temp = [32, 45, 12, 56, 25]

In [6]:
# Aplicando a funcao map
# Deve-se converter o resultado da funcao para uma lista pelo fato da funcao map
# retornar um iterator
list(map(fahrenheit, temp))

[89.6, 113.0, 53.6, 132.8, 77.0]

In [8]:
# Looping for para imprimir o retorno da funcao map
for t in map(fahrenheit, temp):
    print(t)

89.6
113.0
53.6
132.8
77.0

In [13]:
# Realizando a mesma operacao acima, com uma funcao lambda
list(map(lambda x: (9/5)*(x + 32), temp))

[115.2, 138.6, 79.2, 158.4, 102.60000000000001]

In [14]:
# Somando os elementos de duas listas
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

In [17]:
# Somando duas listas com uma expressao lambda
list(map(lambda x, y: x + y, a, b))

[7, 9, 11, 13, 15]

In [18]:
# Somando os elementos de 3 listas
c = [1, 2, 3]
d = [4, 5, 6]
e = [7, 8, 9]

In [26]:
# expressao lambda
list(map(lambda x, y, z: x + y + z, c, d, e))

[12, 15, 18]

In [27]:
# Reduce (funcao, sequencia - lista)
# Aplica a funcao a sequencia, até que reste um elemento.

In [28]:
# Para uso da funcao reduce
from functools import reduce

In [29]:
lista = [32, 668, 12, 534]

In [30]:
# criando funcao simples
def soma(a, b):
    x = a + b
    return x

In [32]:
# Uso da funcao reduce
reduce(soma, lista)

1246

In [34]:
# Realizando a operacao de soma com uma funcao lambda
reduce(lambda x, y: x + y, lista)

1246

In [35]:
# Atribuir a funcao lambda a uma variavel - retorna a se a > b, senao, retorna b.
max_find_2 = lambda a, b: a if (a > b) else b

In [36]:
print(max_find_2)

<function <lambda> at 0x10e551790>

In [37]:
# Aplicando o objeto do tipo lambda, a funcao reduce
reduce(max_find_2, lista)

668

In [1]:
# Filter - filtra os elementos de uma sequencia para os quais a funcao retorne True
# filter (funcao, sequencia)

In [2]:
# Funcao para retornar True ou False de um numero
def imparPar(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [3]:
imparPar(35)

False

In [4]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# Aplicando a funcao filter - retornados os valores da lista que eram iguais a True
list(filter(imparPar, lista))

[0, 2, 4, 6, 8, 10]

In [9]:
# Filter em uma expressao lambda
list(filter(lambda x: True if x % 2 == 0 else False, lista))

[0, 2, 4, 6, 8, 10]

In [11]:
# Outras verificacoes
list(filter(lambda num: True if num >= 2 and num <= 4 else False, lista))

[2, 3, 4]