In [1]:
# Python - Data Science Academy - 25.07.22 - 20h24
# Cap 02 - Dicionarios

In [2]:
# Dicionarios
# criada com {}
# Dicionario Python - chave, e seu respectivo valor associado
# {chave1: valor1, chave2, valor2}

In [4]:
# Lista
estudantes_lista = ["Sergio", 24, "Alvaro", 19, "Teresa", 30]

In [5]:
# Imprimindo a lista
estudantes_lista

['Sergio', 24, 'Alvaro', 19, 'Teresa', 30]

In [6]:
# Dicionario - conjunto chave e valor
estudantes_dic = {"Sergio": 24, "Alvaro": 19, "Teresa": 30}

In [7]:
# Imprimindo o dicionario
estudantes_dic

{'Sergio': 24, 'Alvaro': 19, 'Teresa': 30}

In [8]:
# Usando a chave como indice para retornar o seu respectivo valor
estudantes_dic["Sergio"]

24

In [10]:
# Atualizando o seu valor passando a chave como parametro
estudantes_dic["Alvaro"] = 23
estudantes_dic

{'Sergio': 24, 'Alvaro': 23, 'Teresa': 30}

In [11]:
# Adicionando mais um par chave e valor sem precisar declarar novamente o dicionario
estudantes_dic["Evelyn"] = 25

In [12]:
# Imprimindo o dicionario com o novo par chave e valor ja adicionados.
estudantes_dic

{'Sergio': 24, 'Alvaro': 23, 'Teresa': 30, 'Evelyn': 25}

In [ ]:
# Limpar o dicionario.
# estudantes_dic.clear()

In [ ]:
# Apagando a estrutura de dados dicionario
# del estudantes_dic

In [13]:
# tamanho do dicionario
len(estudantes_dic)

4

In [14]:
# Retornando as chaves
estudantes_dic.keys()

dict_keys(['Sergio', 'Alvaro', 'Teresa', 'Evelyn'])

In [15]:
# Retornando os valores
estudantes_dic.values()

dict_values([24, 23, 30, 25])

In [16]:
# Retornando os itens - par chave e valor
estudantes_dic.items()

dict_items([('Sergio', 24), ('Alvaro', 23), ('Teresa', 30), ('Evelyn', 25)])

In [17]:
estudantes_dic2 = {"Jose": 45, "Maria": 40}

In [18]:
# Atualizando o primeiro dicionario, com o conteudo do segundo, criado, acima.
estudantes_dic.update(estudantes_dic2)

In [19]:
# Imprimindo o primeiro dicionario
estudantes_dic

{'Sergio': 24,
 'Alvaro': 23,
 'Teresa': 30,
 'Evelyn': 25,
 'Jose': 45,
 'Maria': 40}

In [22]:
# Dicionario vazio
dict1 = {}

In [23]:
dict1[1] = "primeiro valor"

In [24]:
print(dict1)

{1: 'primeiro valor'}

In [25]:
# Adicionando mais um conjunto chave e valor. 
dict1["segundo valor"] = 2

In [27]:
print(dict1)
# Qualquer tipo de dado pode ser usado como chave e valor, variando de acordo com a necessidade.

{1: 'primeiro valor', 'segundo valor': 2}

In [28]:
dict2 = {}

In [34]:
dict2["key1"] = "Big Data"

In [36]:
dict2["key2"] = 123

In [37]:
dict2["key3"] = 456

In [38]:
dict2

{'key1': 'Big Data', 'key2': 123, 'key3': 456}

In [39]:
# Atribuindo os valores de cada chave a uma variavel
a = dict2["key1"]
b = dict2["key2"]
c = dict2["key3"]

In [40]:
print(a, b, c)

Big Data 123 456

In [41]:
# Dicionario de Listas
dict3 = {"k1": 12, "k2": [12, 33, 44, "pos 4"], "k3": ["carne", "farinha", "ovo"]}

In [43]:
# Imprimindo o dicionario de listas
dict3

{'k1': 12, 'k2': [12, 33, 44, 'pos 4'], 'k3': ['carne', 'farinha', 'ovo']}

In [44]:
# Retornando a segunda chave
dict3["k2"]

[12, 33, 44, 'pos 4']

In [46]:
# Acessando um item da lista, e realizando sua impressao com caixa alta
# Extraída a ultima posicao da lista, que é o valor da chave k3.
dict3["k3"][2].upper()

'OVO'

In [48]:
# Realizando operacoes matematicas com um item numerico e atribuindo seu resultado a uma variavel
res = dict3["k2"][2] * 3
res

132

In [49]:
# Usando operacoes de atribuicao - faz a soma e atribui o resultado para o indice especificado, na lista que é o valor do dicionario
dict3["k2"][0] += 14
dict3

{'k1': 12, 'k2': [26, 33, 44, 'pos 4'], 'k3': ['carne', 'farinha', 'ovo']}

In [52]:
# Dicionario dentro de dicionario
dic_an = {"k1": {"k2 aninhado": {"k3 aninhado": 12}}}
dic_an

{'k1': {'k2 aninhado': {'k3 aninhado': 12}}}

In [53]:
dic_an["k1"]["k2 aninhado"]["k3 aninhado"]

12