In [1]:
# Python - Data Science Academy - 18.07.22 - 19h39
# Cap 02 - Variaveis e tipos de Dados

In [1]:
# Atribuicao de valor a uma variavel 
var_teste = 1

In [3]:
# imprimindo o valor da variavel
print(var_teste)

1

In [4]:
# Atribuindo novo valor a uma variavel já existente
var_teste = 2

In [5]:
# Imprimindo o novo valor da variavel
print(var_teste)

2

In [6]:
# Verificando o tipo de dado da variavel já criada
type(var_teste)

int

In [7]:
# Atribuindo um novo valor
var_teste = 2.4

In [8]:
print(var_teste)

2.4

In [9]:
# Verificando o novo tipo da variavel
type(var_teste)

float

In [10]:
# Declarando uma variavel com um caractere
x = 2
print(x)

2

In [12]:
# Declaracoes Multiplas de Variavel em uma unica linha de código
pessoa1, pessoa2, pessoa3 = "Jose", "Maria", "Fernanda"

In [16]:
# Imprimindo o conteudo das variaveis acima.
print(pessoa1)
print(pessoa2)
print(pessoa3)

Jose
Maria
Fernanda

In [17]:
# Declaracao de Variaveis atraves de atribuicao de valores
f1 = f2 = f3 = "Laranja"

In [18]:
# Imprimindo o valor das variaveis acima
print(f1)
print(f2)
print(f3)

Laranja
Laranja
Laranja

In [20]:
# Atribuicao de variaveis a outras variaveis
largura = 2
altura = 8
area = largura * altura
print(area)

16

In [21]:
# Atribuicao de variaveis e calculos numericos a outras variaveis
perimetro = 2 * largura + 2 * altura
print(perimetro)

20

In [22]:
# A ordem das operacoes pode ser alterada com o uso de ()
perimetro = 2 * (largura + 2) * altura
perimetro

64

In [25]:
# Operacoes com variaveis
idade1 = 600
idade2 = 60
print(idade1 + idade2)
print(idade1 - idade2)
print(idade1 * idade2)
print(idade1 // idade2)

660
540
36000
10

In [26]:
# Concatenacao de variaveis
nome = "Sergio"
sobrenome = "Esteves"
nome_completo = nome + " " + sobrenome
print(nome_completo)

Sergio Esteves